.head_title{
    text-align: center;
    color: cadetblue;
    font-size: 30px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}

app-student{
    width: 100%;
    text-align: center;
}
app-add-student{
    width: 100%;
    text-align: center;
}
app-student-detail{
    width: 100%;
    text-align: center;
}
app-edit-student{
    width: 100%;
    text-align: center;
}