<div *ngIf="selected_sv" class="detail_sv">
    <table class="table table-striped">
        <tr>
            <td scope="row">id</td>
            <td><input type="text" [(ngModel)]="selected_sv.id" disabled></td>
        </tr>
        <tr>
            <td scope="row">UserName</td>
            <td><input type="text" [(ngModel)]="selected_sv.UserName" disabled></td>
        </tr>
        <tr>
            <td scope="row">Name</td>
            <td><input type="text" [(ngModel)]="selected_sv.Name" disabled></td>
        </tr>
        <tr>
            <td scope="row">Email</td>
            <td><input type="text" [(ngModel)]="selected_sv.Email" disabled></td>
        </tr>
        <tr>
            <td scope="row">Password</td>
            <td><input type="text" [(ngModel)]="selected_sv.Password" disabled></td>
        </tr>
        <tr>
            <td scope="row">CreatedDate</td>
            <td><input type="text" [(ngModel)]="selected_sv.CreatedDate" disabled></td>
        </tr>
    </table>
    <button type="button"><a routerLink="/student/edit_student/{{ selected_sv.id }}" routerLinkActive="router-link-active" > EDIT </a></button>
    <button style="margin-left: 50px;" type="button" (click)="goBack()">GO BACK</button>
</div>

